$primary-color: #ffffff;
$background-color: #070923;
$card-bg: #1e293b;
$highlight-bg: #3b82f6;
$accent-color: #3b82f6;
$text-color-light: #94a3b8;
$button-bg: transparent;
$button-border: #3b82f6;
$button-text: #ffffff;
$badge-bg: #3b83f6e3;

.pricing-plans {
  text-align: center;
  padding: 64px 16px;

  .top-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
  }

  .see-all-button {
    margin-right: 8px;
  }

  .plan {
    font-size: 15px;
    margin-right: 0;
  }

  .section-title {
    font-size: 36px;
    margin-bottom: 16px;
  }

  .section-description {
    margin-bottom: 32px;
    font-size: 18px;
  }

  .plans-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 columns by default
    gap: 16px; // add some gap between items

    .plan-card {
      padding: 25px;
      border-radius: 8px;
      width: 100%;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      border: 1px solid #3b82f6;

      &:hover {
        transform: translateY(-10px);
      }

      &.popular {
        background-color: $highlight-bg;
        border-color: $highlight-bg;

        .select-plan {
          background-color: $primary-color;
          color: $highlight-bg;
          border: 2px solid $primary-color;

          &:hover {
            background-color: $highlight-bg;
            color: $primary-color;
            border: 2px solid $primary-color;
          }
        }
      }
      .plan-header {
        position: relative;

        .badge {
          background-color: $badge-bg;
          transform: rotate(45deg);
          position: absolute;
          top: 14px;
          right: -37px;
        }
      }

      .icons-solid {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      .plan-title {
        font-size: 23px;
        margin: 16px 0;
        font-weight: bold;
      }

      .price {
        font-size: 36px;
        margin: 25px 0;
        font-weight: bold;

        span {
          display: block;
          font-size: 16px;
        }
      }

      .plan-features {
        list-style: none;
        padding: 25px;
        margin-bottom: 16px;
        font-size: 14px;

        li {
          margin: 20px 0;
        }
      }

      .select-plan {
        background-color: $button-bg;
        border: 2px solid $button-border;
        color: $accent-color;
        padding: 12px 24px;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease, color 0.3s ease;
        margin-top: 20px;

        &:hover {
          background-color: $button-border;
          color: $primary-color;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .plans-container {
      grid-template-columns: repeat(2, 1fr); // 2 columns for medium screens
    }

    .plan-card {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .plans-container {
      grid-template-columns: 1fr; // 1 column for smaller screens
    }

    .plan-card {
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    .section-title {
      font-size: 28px;
    }

    .section-description {
      font-size: 16px;
    }

    .plan-card {
      padding: 16px;
      width: 100%;
    }

    .price {
      font-size: 32px;

      span {
        font-size: 14px;
      }
    }

    .plan-title {
      font-size: 20px;
    }

    .plan-features {
      font-size: 12px;
    }

    .select-plan {
      padding: 10px 20px;
    }
  }
}
